.header-main {
  margin-top:-4%;
  text-align: right;
}

.main-app {
  margin: 5%;
  font-size:150%;
  font-family:'Courier New', Courier, monospace;
}

.mint-button-div {
  text-align: center;
  margin-top: 12%;
}

.cta-button {
  padding: 15px;
  border: none;
  border-radius: 12px;
  min-width: 250px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.connect-wallet-button {
  background: rgb(106, 108, 189);
}
.connect-wallet-button:hover {
  background: rgb(200, 210, 250);
}

.mint-nft-button {
  background: rgb(106, 108, 189);
}
.mint-nft-button:hover {
  background: rgb(200, 210, 250);
}